/** User stuff **/
#tribe-events div.tribe-events-cal-links,
.tribe-events-start-date-label,
.tribe-events-start-date,
.tribe-events-start-time-label,
.tribe-events-start-time {
  display: none; }

#tribe-events-bar,
h1.tribe-events-page-title,
div#tribe-events-content.tribe-events-month a.tribe-events-ical.tribe-events-button {
  ddisplay: none; }

#tribe_events_cat-all {
  max-height: inherit; }

#tribe_events_event_details #event_tribe_organizer,
#tribe_events_event_details #event_url,
#tribe_events_event_details #event_cost,
#tribe_events_event_details #google_map_link_toggle,
#tribe_events_event_details #ignore_this_last_line {
  display: none; }

.tribe_events.pvlb_participating {
  background-color: #1f472a; }
  .tribe_events.pvlb_participating a {
    color: white; }

/** Fix the padding in the month view **/
.events-archive.events-gridview #tribe-events-content table .type-tribe_events {
  padding: 0;
  margin: 0; }

.tribe-events-meta-group-details .pvlb .participants div.participant.loaning .gun_class {
  font-weight: bold; }

single-post:not(.has-sidebar) #primary,
.page.page-one-column:not(.twentyseventeen-front-page) #primary,
.archive.page-one-column:not(.has-sidebar) .page-header,
.archive.page-one-column:not(.has-sidebar) #primary {
  max-width: 100% !important; }

body.login #login {
  padding-top: 0; }

body.login h1 a {
  background-image: url("https://lsf.nu//wp-content/uploads/2019/03/lsf-logo-color.jpg");
  background-size: contain;
  background-color: white;
  box-shadow: 0.5em 0.5em 0.25em rgba(0, 0, 0, 0.1);
  border: solid gray thin;
  height: 12em;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0;
  width: 12em; }

img.alignnone,
figure.wp-caption img,
.gallery img {
  border-color: #1f472a;
  border-style: solid;
  border-width: thin; }

figure.wp-caption {
  margin: 0 auto; }

#plainview_lane_booking {
  margin-top: 2em; }
  #plainview_lane_booking .form_item {
    margin-bottom: 1em; }
  #plainview_lane_booking select {
    height: auto; }
  #plainview_lane_booking .form_item_loan_a_gun {
    overflow: hidden; }
  #plainview_lane_booking .form_item_loan_a_gun .input_container,
  #plainview_lane_booking .form_item_loan_a_gun .label_container {
    float: left; }

#plainview_lane_booking_editor .participant.gun_loan.lsf_left_handed {
  background-color: orange; }
