#plainview_lane_booking
{
	margin-top: 2em;

	.form_item
	{
		margin-bottom: 1em;
	}

	select
	{
		height: auto;
	}

	.form_item_loan_a_gun
	{
		overflow: hidden;
	}

	.form_item_loan_a_gun .input_container,
	.form_item_loan_a_gun .label_container,
	{
		float: left;
	}
}

#plainview_lane_booking_editor
{
	.participant.gun_loan.lsf_left_handed		// Need gun_loan in order to get priority.
	{
		background-color: orange;
	}
}
