single-post:not(.has-sidebar) #primary,
.page.page-one-column:not(.twentyseventeen-front-page) #primary,
.archive.page-one-column:not(.has-sidebar) .page-header,
.archive.page-one-column:not(.has-sidebar) #primary {
	max-width: 100% !important;
}

body.login
{
	#login
	{
		padding-top: 0;
	}

	h1 a
	{
		background-image: url( "https://lsf.nu//wp-content/uploads/2019/03/lsf-logo-color.jpg" );
		background-size: contain;
		background-color: white;
		box-shadow: 0.5em 0.5em 0.25em rgba( 0, 0, 0, 0.1 );
		border: solid gray thin;
		height: 12em;
		margin-top: 1em;
		margin-bottom: 1em;
		padding: 0;
		width: 12em;
	}
}

img.alignnone,
figure.wp-caption img,
.gallery img
{
	border-color: #1f472a;
	border-style: solid;
	border-width: thin;
}

figure.wp-caption
{
	margin: 0 auto;
}
