/** User stuff **/
#tribe-events div.tribe-events-cal-links,
.tribe-events-start-date-label,
.tribe-events-start-date,
.tribe-events-start-time-label,
.tribe-events-start-time
{
	display: none;
}

#tribe-events-bar,
h1.tribe-events-page-title,
div#tribe-events-content.tribe-events-month a.tribe-events-ical.tribe-events-button
{
	ddisplay: none;
}

#tribe_events_cat-all
{
	max-height: inherit;
}


#tribe_events_event_details
{
	#event_tribe_organizer,
	#event_url,
	#event_cost,
	#google_map_link_toggle,
	#ignore_this_last_line
	{
		display: none;
	}
}

.tribe_events.pvlb_participating
{
	background-color: #1f472a;

	a
	{
		color: white;
	}
}


/** Fix the padding in the month view **/
.events-archive.events-gridview #tribe-events-content table .type-tribe_events
{
	padding: 0;
	margin: 0;
}

.tribe-events-meta-group-details
{
	.pvlb
	{
		.participants
		{
			div.participant
			{
				&.loaning
				{
					.gun_class
					{
						font-weight: bold;
					}
				}
			}
		}
	}
}
